@import url("https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Manrope:wght@300&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

.App {
 
}
