.footer {
  background-color: #22262f;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.footer_content {
  color: #afafaf;
  display: flex;
}

.part {
  width: calc(25%-1em);
  flex: 1 1 0;
}
.logo {
  margin-right: 40px;
}

.logo_img {
  max-width: 200px;
  height: auto;
}

.main_sections {
  display: flex;
  flex-direction: column;
}

.header {
  padding-bottom: 20px;
  color: white;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section_link {
  text-decoration: none;
  color: #afafaf;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer_img {
  width: auto;
  max-height: 30px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .footer_content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .part {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .follow {
    display: flex;
    flex-direction: column;
  }
  .links {
    align-items: center;
  }
  .contacts {
    align-items: center;
  }
  .logo {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
