.section_header {
  margin: 25px 0;
}
.main_header {
  font-family: "Playfair Display", serif !important;
  text-wrap: wrap !important;
  max-width: 600px;
}

@media (max-width: 768px) {
  .main_header {
    font-size: 1.5rem !important;
  }
}
