.root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper {
  padding: 16px;
  width: 300px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.submitButton {
  margin-top: 16px;
}
