.card {
  max-width: calc(25% - 1em);
  flex: 1 1 calc(25% - 1em);
  margin-bottom: 1em;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6090d9;
  margin-bottom: 15px;
}

.card_title {
  max-height: 40%;
}
.card_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card_btn_wrapper {
  margin-top: auto;
  padding: 8px;
}

.card_btn {
  justify-self: flex-end;
}

.card_btn:hover {
  background-color: #6090d9 !important;
  color: white;
}

@media (max-width: 768px) {
  .card {
    max-width: calc(50% - 1em);
    flex: 1 1 calc(50% - 1em);
  }
}

@media (max-width: 576px) {
  .card {
    max-width: calc(100% - 1em);
    flex: 1 1 calc(100% - 1em);
  }
}
