.blog {
  display: flex;
  justify-content: center;
}

.blog__content {
  display: flex;
  max-width: 1200px;
  width: 100%;
  gap: 30px;
}
.blog__detail {
  flex: 1 1 70%;
}
.cards {
  display: flex;
  flex-direction: column;
  margin: 40px 30px 30px 0;
  flex: 1 1 20%;
  gap: 30px;
}
.card_category {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #d2e1f8;
  padding: 15px;
}
.element {
  display: flex;
  flex-direction: column;
}
.element:not(:last-child) {
  border-bottom: 1px solid grey;
}
.card {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.card__category {
  padding-right: 10px;
}
.card_news {
  display: flex;
  flex-direction: column;

  background-color: #d2e1f8;
  padding: 15px;
  gap: 15px;
}
.card_articles {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card_article {
  display: flex;
  gap: 15px;
  width: 100%;
  align-items: center;
  cursor: pointer;
}
.card_article_link:not(:last-child) {
  border-bottom: 1px solid grey !important;
  padding-bottom: 10px;
}
.card_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_article_image_container {
  max-width: 160px;
  width: 100%;
}

.card_article_image {
  width: 100%;
  height: auto;
}

.card_article_link {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 768px) {
  .card_category_title {
    font-size: 25px !important;
  }
}

@media (max-width: 700px) {
  .cards {
    display: none;
  }
}
